body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

Header{
  text-align: center;
  background-color: #ababab;
  color: #282c34;
  font-size: 48px;
  font-family: 'Tahoma';
  height: 130px;

}

.inputLogin {
  
  width: 200px;
  height: 70px;
  margin:10px;
  background-color: whitesmoke;
  font-family: 'impact';
  font-size: 20px;
  text-align: center;
  color: grey;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  color: #fff;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  border-color: #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.97);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.headerDiv{
  justify-self: right;
}

.container{
  display: flex;
  gap: 20px;
  padding: 30px 30px;
  text-align: center;
  
}

.madadimPic{
  border-radius: 30%;
  border: 1px solid antiquewhite;
  width: 350px;
  height: 350px;
}
.madadim {
  color: whitesmoke;
  border: 0.5px, solid antiquewhite;
  margin: auto;
  padding: 30px 40px;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
